<%- include ('../Basic_content/htmlhead') %>
    <%- include ('../Basic_content/htmlBody') %>

        <div class="aboutSection">
            <div>
                <h2 class="aboutSectionHeading">Educational Qualifications:</h2>
                <ul>
                    <li>10<sup>th</sup> - Holy Family English Medium School (2012)</li>
                    <li>12<sup>th</sup> - St. Aloysius Pre University College (2014)</li>
                    <li>Btech - Jaipur National University (2020)</li>
                </ul>
            </div>
            <div>
                <h2 class="aboutSectionHeading">Certifications:</h2>
                <ul>
                    <li>Computer Hardware and Networking - EDGE Technologies (2015)</li>
                    <li>Web Development Bootcamp - Udemy (2021)</li>
                    <li>Julia Programming for Data Science - Udemy (2020)</li>
                    <li>Complete Blender Course - Udemy (2021)</li>
                </ul>
            </div>
            <div>
                <h2 class="aboutSectionHeading">Awards & Achievements</h2>
                <ul>
                    <li>Won 2<sup>nd</sup> Position in Paper presentation (2017)</li>
                    <li>Participated in Live presentation (2018)</li>
                    <li>Participated in paper presentation (2018)</li>
                    <li>Been runner up in Debate (2018)</li>
                    <li>Won 3<sup>rd</sup> place in paper presentation (2018)</li>
                    <li>Won 1<sup>st</sup> in Tug of War Event (2019)</li>
                </ul>
            </div>
            <div>
                <h2 class="aboutSectionHeading">Seminars & Workshop</h2>
                <ul>
                    <li>"Nature of Water" World Water Day (2018)</li>
                    <li>Safety Aspects of Storage, Handling and Transportation of Petroleum Products (2019)</li>
                    <li>Energy and Environment : Challenges and Opportunities for Industries (2019)</li>
                </ul>
            </div>
            <div>
                <h2 class="aboutSectionHeading">Training and Work Experience</h2>
                <ul>
                    <li>Worked as Receptionist/Assistant Manager and Party Coordinator at The Riot Room (2016)</li>
                    <li>Been an Intern at Rossari Industries (2019)</li>
                </ul>
            </div>
        </div>



        <%- include ('../Basic_content/htmlTail') %>