<%- include ('../Basic_content/htmlhead') %>
    <%- include ('../Basic_content/htmlBody') %>
        <div class="contactDetails">
            <div class="contactForm">
                <h2>Enter the Details Below:</h2>

                <form id="submitQuery">

                    <div>
                        <label for=" userName">Name</label>
                        <input type="text" id="userName" placeholder="Enter Name" name="qname">
                    </div>
                    <div>
                        <label for="userEmail">Email</label>
                        <input type="email" id="userEmail" placeholder="Enter Email" name="qemail">
                    </div>

                    <div class="contactMsg">
                        <label for="userMassage">Your Message</label>
                        <textarea name="message" id="userMessage" rows="6"
                            placeholder="Enter your message here!!!"></textarea>

                    </div>
                    <button>Submit</button>

                    </script>
                </form>

            </div>
            <div>
                <h2 class="socialDetails">Follow Me</h2>
                <a href="https://www.facebook.com/100071921815472" target=_blank class="fa fa-facebook"></a>
                <a href="http://www.twitter.com/jlcrasta" target=_blank class="fa fa-twitter"></a>
                <a href="http://www.linkedin.com/in/jlcrasta" target=_blank class="fa fa-linkedin"></a>
                <a href="http://www.instagram.com/jlcrasta" target=_blank class="fa fa-instagram"></a>
            </div>
        </div>
        <%- include ('../Basic_content/htmlTail') %>
            <script src="Js_Script/contactEmail.js"></script>