<%- include ('../Basic_content/htmlhead') %>
    <%- include ('../Basic_content/htmlBody') %>
        <div class="contactDetails">
            <div>

                <thead>
                    <h2 class="myContactDetails">Contact Details</h2>
                </thead>
                <table class="tableBorder">
                    <tbody>
                        <tr>
                            <td>Phone No:</td>
                            <td>+91 9449620444</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>jlcrasta@protonmail.com</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>
                                <address> D'Costa House #2-147 Kuttethur <br> Bajave Post Via Kattipalla <br>
                                    Mangalore Karnataka India 575030 </address>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h2 class="socialDetails">Follow Me</h2>
                <a href="https://www.facebook.com/100071921815472" target=_blank class="fa fa-facebook"></a>
                <a href="http://www.twitter.com/jlcrasta" target=_blank class="fa fa-twitter"></a>
                <a href="http://www.linkedin.com/in/jlcrasta" target=_blank class="fa fa-linkedin"></a>
                <a href="http://www.instagram.com/jlcrasta" target=_blank class="fa fa-instagram"></a>
            </div>
        </div>
        <%- include ('../Basic_content/htmlTail') %>