<%- include ('../Basic_content/htmlhead') %>
    <%- include ('../Basic_content/htmlBody') %>
        <div>

            <div class="headDetails">

                <img class="imge" src="Media/Jackson1.jpg" alt="jlcrasta photo">

                <div class="headInfo">
                    <h1>Jackson Lawrence Crasta</h1>
                    <h2>Web Developer</h2>
                </div>

            </div>

            <div class="bottomInfo">

                <h2>Profile</h2>
                <hr>


                <div class="content">
                    <p>
                        I'am Jackson, I hold Btech in Engineering from Jaipur National University, I am
                        Tech enthusiast,
                        Before graduation I educated myself regarding computer networking and also worked as Assistant
                        Manager.
                        During my graduation tenure I participated in many activities like poster
                        presentation, paper presentation, live presentation as well as I participated in
                        seminars,bootcamps
                        and guest lectures they helped me to built my proffessional image </p><br>
                    <p>
                        Apart from being graduate I am keen interested in reading books, playing music, graphic design
                        and
                        learning new skill. During these Hard times I educated myself with web development course that
                        helped
                        me to built this web site, I am also interested in programming and scripting languages.
                        Javascript is my
                        favorite one.
                    </p>
                    <p>This Website is built using HTML CSS Javascript Nodejs Express.js and MongoDB</p>
                </div>

            </div>
        </div>
        </div>
        <%- include ('../Basic_content/htmlTail') %>