<%- include ('../Basic_content/htmlhead') %>
    <%- include ('../Basic_content/htmlBody') %>

        <div class="projectPage">
            <%- include ('../Basic_content/projectBar') %>
                <div class="projectContent">
                    <div class="pnf">
                        <h2>Page Not Found !!!</h2>
                        <p>Please Press the nav bar on top as they are the only pages present in this Website.
                            If you face any other problem, please contact <a href="/contact">administrator.</a>
                        </p>
                    </div>
                </div>
        </div>
        <%- include ('../Basic_content/htmlTail') %>