
.forgotPwd>form>button{
    font-size: 2rem;
    border-radius: 20px;
    margin-top: 2em;
}

.forgotPwd{
    margin-bottom: 1em;
}

.accountDeleteBtn:hover{
    transition: 600ms;
background-color: rgb(243, 50, 50);
}