<%- include ('../../../Basic_content/htmlhead') %>
    <%- include ('../../../Basic_content/htmlBody') %>

        <div class="projectPage">
            <%- include ('../../../Basic_content/projectBar') %>

                <div class="projectContent">
                    <div class="pnf">
                        <h2>Error !!!... Occured</h2>
                        <p>
                            Please use the right Link, If problem persist contact <a href="/contact">Administrator.</a>
                        </p>
                    </div>
                </div>
                <%- include ('../../../Basic_content/htmlTail') %>