<%- include ('../../../Basic_content/htmlhead') %>
    <%- include ('../../../Basic_content/htmlBody') %>

        <div class="projectPage">
            <%- include ('../../../Basic_content/projectBar') %>
                <div class="projectContent">

                    <h2 class="todoListHeading">Forgot Password</h2>
                    <div class="forgotPwd">
                        <form action="/project/todoList/forgotPassword" method="post">
                            <div class="forgorPwdLinks">
                            <label for="email">Enter your Email ID:</label>
                            <input type="email" id="email" name="forgotName">
                            </div>

                            <button>Submit</button>
                        </form>
                    </div>
                    <a href="/project/todoList/getOne">GoBack</a>
                </div>
        </div>
        <%- include ('../../../Basic_content/htmlTail') %>