.tableHeader{
    font-weight: 600;
}
.cryptoTable,.tableBorder{
    border: 1px solid black;
    padding: 0.5em 0.7em;
}
.cryptoTable{
    margin-top: 1em;
    font-size: 1.5rem;
}

@media (max-width:334px) {
    .cryptoTable{
        font-size: 1.2rem;
    }
}
