<%- include ('../../Basic_content/htmlhead') %>
    <%- include ('../../Basic_content/htmlBody') %>
        <div class="projectPage">
            <%- include ('../../Basic_content/projectBar') %>
                <div class="projectContent" id="projectContent">
                    <h2 style="font-size: 150%;font-weight: bold;">CryptoCurrency</h2>

                    <div>
                        <table style="width:100%" class="cryptoTable">
                            <tr class="tableHeader">
                                <th class="tableBorder">Sl No</th>
                                <th class="tableBorder">Crypto Name</th>
                                <th class="tableBorder">Crypto Value ($)</th>
                                <th class="tableBorder">Value Changed</th>
                            </tr>
                            <tr>
                                <td class="tableBorder">1</td>
                                <td class="tableBorder">Ethereum</td>
                                <td class="cryptoValue tableBorder">N/A</td>
                                <td class="change tableBorder">N/A</td>
                            </tr>
                            <tr>
                                <td class="tableBorder">2</td>
                                <td class="tableBorder">Bitcoin</td>
                                <td class="cryptoValue tableBorder">N/A</td>
                                <td class="change tableBorder">N/A</td>
                            </tr>
                            <tr>
                                <td class="tableBorder">3</td>
                                <td class="tableBorder">Binance Coin</td>
                                <td class="cryptoValue tableBorder">N/A</td>
                                <td class="change tableBorder">N/A</td>
                            </tr>
                            <tr>
                                <td class="tableBorder">4</td>
                                <td class="tableBorder">Tether</td>
                                <td class="cryptoValue tableBorder">N/A</td>
                                <td class="change tableBorder">N/A</td>
                            </tr>
                            <tr>
                                <td class="tableBorder">5</td>
                                <td class="tableBorder">Litecoin</td>
                                <td class="cryptoValue tableBorder">N/A</td>
                                <td class="change tableBorder">N/A</td>
                            </tr>

                        </table>
                    </div>
                </div>

                <script src="../../../Js_Script/cryptoCurrency.js"></script>
        </div>

        <%- include ('../../Basic_content/htmlTail') %>