<%- include ('../../Basic_content/htmlhead') %>
    <%- include ('../../Basic_content/htmlBody') %>

        <div class="projectPage">
            <%- include ('../../Basic_content/projectBar') %>

                <div class="projectContent">
                    <h2 class="defaultProjectContent">Click Left-Side Bar or Scroll down if you are on mobile to Display
                        Projects</h2>
                </div>

        </div>


        <%- include ('../../Basic_content/htmlTail') %>