<%- include ('../../Basic_content/htmlhead') %>
    <%- include ('../../Basic_content/htmlBody') %>

        <div class="projectPage">
            <%- include ('../../Basic_content/projectBar') %>

                <div class="projectContent">
                    <div>
                        <h2 style="font-size: 3rem; font-weight: 800;">Project Not Found !!!</h>
                        <p style="font-size: 2rem; font-weight: 400; margin-top: 1em;">Please Press the right-side bar to navigate as they are the only projects present in this
                            Website.
                            If you face any other problem, please contact <a href="/contact">administrator.</a>
                        </p>
                    </div>
                </div>
        </div>
        <%- include ('../../Basic_content/htmlTail') %>