
.defaultProjectContent{
    font-weight: 800;
    margin-top: 2em;
   
}

.projectContent{
    font-size: 2rem;
    border-radius: 20px;
    background-color: rgba(30, 143, 255, 0.616);
    width: 60%;
    min-height: 70vmin;
    padding: 1em 1em;
  text-align: center;
  margin:0 auto;
  box-shadow: 5px 5px 5px rgba(37, 37, 243, 0.562);
}

.projectBar{
    border-radius: 20px;
    font-size: 2rem;
    padding: 1em 1em;
    background-color: rgba(103, 176, 248, 0.644);
    max-width: 20%;
    height: 30vmin;
    align-items: center;
    line-height: 1.5;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(49, 205, 253, 0.671);
    position: sticky;
    top:6.5em;
}
.projectPage{
    padding: 2em 2em;
    display: flex;
    margin:2em auto;
    justify-content: space-around;
}

@media (max-width:890px) {


    .projectPage{
        flex-direction: column-reverse;
       
    }
    .projectContent{
        width:100%
    }
    .projectBar{
        max-width: 70%;
        margin:1em auto;
        height:auto;
    }
}

input ,select{
font-size: 1.5rem;
}