<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Personnal portfolio website along with my profile and few projects I build websites using HTML CSS JavaScript Wordpress NodeJs(Express.js) MongoDB">
    <meta name="keyword"
        content="web developer,jlcrasta website,jlcrasta profile,jlcrasta resume,jackson lawrence crasta website">
    <meta name="author" content="Jackson Lawrence Crasta">
    <meta http-equiv="refresh" content="300">
    <base href="www.jlcrasta.com">
    <title>J L Crasta Profile</title>
    <link rel="icon" href="/Media/newjlc.png">
    <link rel="stylesheet" href="/CSS Styles/noDefault.css">
    <link rel="stylesheet" href="/CSS Styles/common.css">
    <link rel="stylesheet" href="/CSS Styles/homePage.css">
    <link rel="stylesheet" href="/CSS Styles/aboutPage.css">
    <link rel="stylesheet" href="/CSS Styles/skillPage.css">
    <link rel="stylesheet" href="/CSS Styles/projectPage.css">
    <link rel="stylesheet" href="/CSS Styles/contactPage.css">
    <link rel="stylesheet" href="/CSS Styles/projectContent/calculator.css">
    <link rel="stylesheet" href="/CSS Styles/projectContent/todoList.css">
    <link rel="stylesheet" href="/CSS Styles/projectContent/todoListCSS/SignUpPage.css">
    <link rel="stylesheet" href="/CSS Styles/projectContent/todoListCSS/toDoAllList.css">
    <link rel="stylesheet" href="/CSS Styles/projectContent/todoListCSS/addToDoList.css">
    <link rel="stylesheet" href="/CSS Styles/projectContent/todoListCSS/alertBox.css">
    <link rel="stylesheet" href="/CSS Styles/projectContent/todoListCSS/forgotPassword.css">
    <link rel="stylesheet" href="/CSS Styles/projectContent/crypto.css">
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>