<body>
    <div class="topZone">
        <img src="/Media/newjlc.png" alt="jlc logo" class="logoImage">

        <div class="nameLogo">
            <p>J L Crasta</p>
        </div>

        <div class="dateLine">
            <p id="dayMonthYear">
                dd:mm:yyyy
            </p>
            <p id="todayDay">Sunday</p>
            <p id="timeOfToday">00:00:00</p>
        </div>
    </div>

    <div class="maincontent">
        <div class="sideBar fontFamily">
            <a href="/">
                <p>Home</p>
            </a>
            <a href="/skills">
                <p>Skills</p>
            </a>
            <a href="/about">
                <p>About</p>
            </a>
            <a href="/project">
                <p>Project</p>
            </a>
            <a href="/contact">
                <p>Contact</p>
            </a>
        </div>