</div>
<div class="footer">
    <footer>
        <p>
            All Rights Reserved @J L Crasta<sup>&#169</sup> 2021
        </p>
    </footer>
</div>
</body>
<script src="/Js_Script/date.js"></script>


</html>
