<nav class="projectBar">

    <a href="/project/calculator">
        <p id="calculator">Calculator</p>
    </a>
    <a href="/project/todoList">
        <p id="todoList">To Do List</p>
    </a>

    <a href="/project/cryptoCurrency">
        <p id="cryptoCurrency">CryptoCurrency</p>
    </a>

</nav>